.DS_Store
.dart_tool/

.packages
.pub/

build/

android/libs/commonlib.aar
android/libs/mobilertc.aar

ios/MobileRTC.xcframework/ios-arm64/MobileRTC.framework/MobileRTC
ios/MobileRTC.xcframework/ios-arm64_x86_64-simulator/MobileRTC.framework/MobileRTC